/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03.06.2016, 13:32:40
    Author     : jgross
*/

/*---------------Body Formatierung-------------------
------------------------------------------------------
*/

/*handy*/
@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
    
}
/*Tablet*/
@media only screen and (max-width: 500px) {
    .menü{
    display:none;
    
    .menütablet{}
}
    
}


body,header,nav,article,footer,a{
    margin:0;
    text-decoration: none;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box;
}

body{
    /*background-color: grey;*/
    background-image: url(../pics/background-6.jpg);
    background-repeat:repeat-y;
    background-attachment: fixed;
    max-width: 1920px;
    margin-bottom: 100px /*Platzhalter für Footer*/

}
/*---------------Header Formatierung-------------------
--------------------------------------------------------
*/
header {
    background-image: url(../pics/sqbutton.png);
    background-repeat: no-repeat;
    background-position:bottom,center;
    background-size: 100%;
    position:relative;
    top:0;
    left:10%;
    right:0;    
    /*background-color:white;*/
    height:180px;
    width: 80%;
    color: black;
    text-align:center;
}
/*---------------Menü Formatierung-------------------
-------------------------------------------------------
*/

/*----------------------- TopNAVIGATOR-------------------------------------->*/

#topnavi{
    background-color: grey;
    position:relative;
    height:70px; 
    width:100%;
    margin-top: 180px;
    float: left;
}




.button {
    background-color:#000099 ;
    width: 25%;
    height:70px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}
.button:active {
  background-color: #0000FF;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
                          
}

.button:hover {
    background-color: #0000FF;
}

/*---------------Section Formatierung-------------------
---------------------------------------------------------
*/
article{
    background-color:#92B6D5;
    /*background-color: white;*/
    color: black;
    text-align:left;
    width: 80%;
    height:auto; 
    float:bottom;
    padding:19px;
    position:relative;
    top:248px;
    left:10%;
    right:1px;

}

/*---------------Footer Formatierung-------------------
---------------------------------------------------------
*/ 

footer{
    text-align: center;
    position:fixed;
    bottom:0px;
    left:190px;
    right:175px;
    
}
#Impressum,#CR,#Datenschutz{
    background-color: lightgray;
    text-align: center;
    width: 33%;
    float:left;
}
